<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>FakeSNS</title>
</head>

<body>
<header>
    <label><a href="{% url 'app:index' %}">HOME</a></label>
    {% block header %}
    {% endblock %}

    {% if messages %}
        {% for message in messages %}
            <h2 style="color: red">{{ message }}</h2>
        {% endfor %}
    {% endif %}

    {% if not user.is_authenticated %}
        <label><a href="{% url 'login' %}">ログイン</a></label>
    {% else %}
        <label>ログイン中：<strong>{{ request.user.username }}</strong></label>
        <label><a href="{% url 'accounts:user_detail' request.user.id %}">マイページ</a></label>
        <label><a href="#">いいね一覧</a></label>
        <label><a href="{% url 'logout' %}">ログアウト</a></label>
    {% endif %}
</header>

{% if  user.is_authenticated %}
    {% block content %}
    {% endblock %}
{% else %}
    {% block not_log_content %}
    {% endblock %}
{% endif %}

<footer>
    {% block footer %}
    {% endblock %}
</footer>

</body>
</html>
